.main {
    text-align: center;
}

.Logo {
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 125px;    
}

input {
    background: url("../images/magnifying-glass.png") 2% 50% no-repeat;
    background-size: 15px;
    padding-left: 40px;
    border-radius: 25px;
    border-width: 0.5px;
    border-style: solid;
    margin-bottom: 20px;
}

.query {
    width: 512px;
    height: 40px;
}

.search {
    padding: 10px 20px;
    background-color: #dedfe0;
    border-radius: 5px;
    border-style: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: .8em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav-left li {
    float: left;
}

.top-nav-right li {
    float: right;
}

a {
    padding: 8px;
    display: block;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.grid {
    width: 15px;
}

#signin {
    display: block;
    background-color: blue;
    color: white;
}
#signin:hover {
    background-color: white;
    color: black;
}